Abbreviations expanded (Global)

FYI - We have added expansions for the following abbreviations                               
per Section 3.6 of RFC 7322 ("RFC Style Guide"). Please review each                                  
expansion in the document carefully to ensure correctness.                                           
                                                                                                        
Network News Transfer Protocol (NNTP)
Extensible Messaging and Presence Protocol (XMPP)

Thank you.